1.Quantas casas estão disponíveis para compra?
2.Quantos atributos as casas possuem?(Número de quartos,número de garagens)
3.Quais são os atributos?
4.Casa mais cara do portfólio(Casa com maior valor)
5.Qual a casa com o maior número de quartos?
6.Qual a soma total de quartos do conjunto de dados?
7.Quantas casas possuem 2 banheiros?
8.Qual o preço médio de todas as casas do conjunto de dados?
9.Qual o preço médio de casas com 2 banheiros?
10.Qual o preço mínimo entre casas com 3 quartos?
11.Quantas casas possuem mais de 300 metros quadrados na sala de estar?
12.Quantas casas têm mais de 2 andares?
13.Quantas casas têm vista para o mar?
14.Das casas com vista para o mar, quantas possuem 3 quartos?
15.Das casas com mais de 300 metros quadrados de sala de estar, quantas têm mais de 2 banheiros?

In [34]:
import pandas as pd
df = pd.read_csv("kc_house_data.csv")
print('1.Quantas casas estão disponíveis para compra?')
print(df.shape[0])
print('2.Quantos atributos as casas possuem?(Número de quartos,número de garagens)')
print(df.shape[1])
print(df.shape)  #Número de linhas e colunas
display(df)

1.Quantas casas estão disponíveis para compra?
21613
2.Quantos atributos as casas possuem?(Número de quartos,número de garagens)
21
(21613, 21)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [35]:
#Mostrar nome das colunas
print('3.Quais são os atributos?')
print(df.columns)

3.Quais são os atributos?
Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [36]:
#Mostrar colunas de id e preço
print('4.Casa mais cara do portfólio(Casa com maior valor)')
print(df[['id','price']].sort_values('price', ascending=False))

4.Casa mais cara do portfólio(Casa com maior valor)
               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]

In [37]:
#Ordenar pela casa com maior número de quartos
print('5.Qual a casa com o maior número de quartos?')
print(df[['id','bedrooms']].sort_values('bedrooms', ascending=False))

5.Qual a casa com o maior número de quartos?
               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10
...           ...       ...
19452  3980300371         0
8484   2310060040         0
875    6306400140         0
8477   2569500210         0
9773   3374500520         0

[21613 rows x 2 columns]

In [38]:
#Soma total do número de quartos
total_quartos = df['bedrooms'].sum(axis=0)
print('6.Qual a soma total de quartos do conjunto de dados?')
print(total_quartos)

6.Qual a soma total de quartos do conjunto de dados?
72854

In [39]:
print('7.Quantas casas possuem 2 banheiros?')
banheiros = df[df['bathrooms'] == 2].shape[0]
print(banheiros)

7.Quantas casas possuem 2 banheiros?
1930

In [40]:
print('8. Qual o preço médio de todas as casas no conjunto de dados?')
preco_medio = df['price'].mean()
print(preco_medio)

8. Qual o preço médio de todas as casas no conjunto de dados?
540088.1417665294

In [41]:
print('9. Qual o preço médio de casas com 2 banheiros?')
medio_2banheiros = df.loc[df['bathrooms'] == 2,'price'].mean()
print(medio_2banheiros)

9. Qual o preço médio de casas com 2 banheiros?
457889.7186528497

In [42]:
print('10. Qual o preço mínimo entre as casas com 3 quartos?')
min_3quartos = df.loc[df['bedrooms'] == 3,'price'].min()
print(min_3quartos)

10. Qual o preço mínimo entre as casas com 3 quartos?
82000.0

In [43]:
print('11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?')
df['casas_2m'] = df['sqft_living'] * 0.09290304
casas_300m = df[df['casas_2m'] > 300].shape[0]
print(casas_300m)

11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?
2258

In [44]:
print('12. Quantas casas tem mais de 2 andares?')
andares_2 = df[df['floors'] > 2].shape[0] 
print(andares_2)

12. Quantas casas tem mais de 2 andares?
782

In [45]:
print('13. Quantas casas tem vista para o mar?')
vista_mar = df[df['waterfront'] > 0 ].shape[0]
print(vista_mar)

13. Quantas casas tem vista para o mar?
163

In [46]:
print('14. Das casas com vista para o mar, quantas tem 3 quartos?')
vista_mar_3quartos = df[(df['waterfront'] > 0) & (df['bedrooms'] == 3)].shape[0]
print(vista_mar_3quartos)

14. Das casas com vista para o mar, quantas tem 3 quartos?
64

In [47]:
print('15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?')
sala_2banheiros = df[(df['casas_2m'] > 300) & (df['bathrooms'] > 2)].shape[0]
print(sala_2banheiros)

15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?
2201